@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: slategray;
}

button {
  position: relative;
  font-size: 1.5rem;
  padding: 0 2%;
  margin: 2%;
  color: white;
  background-color: slateblue;
  border: 1px solid slateblue;
  border-radius: 18px;
  box-shadow: inset;
}

button:hover {
  background-color: white;
  color: slateblue;
}
